<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Your Website</title>
</head>
<body>

<div class="profile-container">
    <img src="https://scontent.fcgy3-1.fna.fbcdn.net/v/t39.30808-6/398588985_2105500269798883_4857582407106388004_n.jpg?stp=dst-jpg_p206x206&_nc_cat=107&ccb=1-7&_nc_sid=3d9721&_nc_eui2=AeH7pDLM_IpEhBoAhuLXBrGLnIkdTSmS3veciR1NKZLe9zph1ZuFUH--EzQDnsmbGaM4oIRfD3K9hngeFMtvVTM2&_nc_ohc=SdTbc8C5AeUAX_ALyYi&_nc_ht=scontent.fcgy3-1.fna&oh=00_AfDvvIX_WIvf7IJuXoWyKeCd1Qq722W-XJET_Fo0sNlcBQ&oe=6586B945" alt="Profile Picture">
    
    
</div>
<div>
    <h1>ABOUT ME</h1> 
<h2>I'M JOHN FRICH MAGAN,</h2> 
<h2> I'M 20 YEARS OLD.</h2>
<h2>I LIVE IN MANTIBUGAO MANOLO</h2>
<h2> FORTICH BUKIDNON</h2>
<h2>I AM 2ND YEAR IN</h2> 
<h2>NORTHERN BUKIDNON STATE COLLEGE (NBSC)</h2>
<h2>I AM A BSIT STUDENT</h2>
<h1>HOBBIES</h1>
<h2>PLAYING BASKETBALL</h2>
<h2>PLAYING ONLINE GAMES</h2>
<h1>SKILLS</h1>
<h2>TIME MANAGEMENT</h2>
<h2>CRITICAL THINKING</h2>
</div>

<!-- The rest of your webpage content goes here -->

</body>
</html>