
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Your Website</title>
</head>
<body>

<div class="profile-container">
    <img src="https://scontent.fcgy3-1.fna.fbcdn.net/v/t39.30808-6/398588985_2105500269798883_4857582407106388004_n.jpg?stp=dst-jpg_p206x206&_nc_cat=107&ccb=1-7&_nc_sid=3d9721&_nc_eui2=AeH7pDLM_IpEhBoAhuLXBrGLnIkdTSmS3veciR1NKZLe9zph1ZuFUH--EzQDnsmbGaM4oIRfD3K9hngeFMtvVTM2&_nc_ohc=SdTbc8C5AeUAX_ALyYi&_nc_ht=scontent.fcgy3-1.fna&oh=00_AfDvvIX_WIvf7IJuXoWyKeCd1Qq722W-XJET_Fo0sNlcBQ&oe=6586B945" alt="Profile Picture">
    </div>
    
   

        <div class="icon-container">
            <h1>CONTACT ME</h1>
            <a href="#" onclick="openLink('https://www.facebook.com/johnfrich.magan')">
                <img src="https://i.pinimg.com/236x/11/65/95/1165952efd04827b9a6a1aec09c17573.jpg" alt="Icon 1">
            </a>
            <a href="#" onclick="openLink('https://www.instagram.com/johnfrich/')">
                <img src="https://i.pinimg.com/236x/e3/3b/b9/e33bb97d1c8e9b87834ece21f4ece238.jpg" alt="Instagram Icon 2">
            </a>
            <a href="#" onclick="openLink('https://www.tiktok.com/@johnfrichmagan')">
                <img src="https://i.pinimg.com/236x/2f/4c/4b/2f4c4bd674094f9fb59e9536bfd876be.jpg" alt="TikTok Icon 3">
            </a>
            <a href="#" onclick="openLink('https://mail.google.com/mail/u/1/#inbox')">
                <img src="https://i.pinimg.com/236x/d8/26/25/d826255f93855c62338f6f307731cbf0.jpg" alt="Gmail Icon 3">
            </a>
        </div>
    
        <script>
            function openLink(url) {
                window.open(url, '_blank');
            }
        </script>
        <div class="other-section">
            <img src="https://i.pinimg.com/564x/ef/c8/44/efc8443ef85c747376f4d927cea44bb5.jpg" alt="Description of the image">
            <!-- Add other content as needed -->
        </div>
        
        
   </body>
</html>
