<section>
    <div class="profile-image">
        <img src="https://scontent.fdvo5-1.fna.fbcdn.net/v/t39.30808-6/398588985_2105500269798883_4857582407106388004_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=efb6e6&_nc_eui2=AeH7pDLM_IpEhBoAhuLXBrGLnIkdTSmS3veciR1NKZLe9zph1ZuFUH--EzQDnsmbGaM4oIRfD3K9hngeFMtvVTM2&_nc_ohc=hDX0TeWpW5QAX-vavEh&_nc_ht=scontent.fdvo5-1.fna&oh=00_AfAoSXSG1b_smcroEU5o8DoNPTag1uvwmWPHHuF17z63Xw&oe=656D0405" alt="My Profile Image">
    </div>
    <h2>WELCOME TO MY PORTFOLIO</h2>
    <h3>HELLO! IM JOHN FRICH MAGAN</h3>
    <h4>DESIGNER DAW KONO!</h4>
</section>