
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Your Website</title>
</head>
<body>

<div class="profile-container">
    <img src="https://scontent.fcgy3-1.fna.fbcdn.net/v/t39.30808-6/398588985_2105500269798883_4857582407106388004_n.jpg?stp=dst-jpg_p206x206&_nc_cat=107&ccb=1-7&_nc_sid=3d9721&_nc_eui2=AeH7pDLM_IpEhBoAhuLXBrGLnIkdTSmS3veciR1NKZLe9zph1ZuFUH--EzQDnsmbGaM4oIRfD3K9hngeFMtvVTM2&_nc_ohc=SdTbc8C5AeUAX_ALyYi&_nc_ht=scontent.fcgy3-1.fna&oh=00_AfDvvIX_WIvf7IJuXoWyKeCd1Qq722W-XJET_Fo0sNlcBQ&oe=6586B945" alt="Profile Picture">
    
    
</div>
<div>
    <h1>PROJECTS</h1>
    <h2>UI/UX DESIGNER</h2> 
    <h1>DEVBUGS</h1>
    <h2>CUSTOMER FEEDBACK MANAGEMENT SYSTEM</h2>
   
</div>
<div class="other-section">
    <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/409651945_1117487402769338_1194474994222492649_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=510075&_nc_eui2=AeEah9RsEtwadtBViOma_zEcyRKEOlPTLtXJEoQ6U9Mu1T4QElhSs84J8AoaT_4qtm2MEfiQ4vtoDIEpgmTbxbeL&_nc_ohc=F0iQPC6MHTcAX9eQn3I&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdQQgf2u_ol5CZobWu3S2P6pK2z9hTZF6_t_JZTzxEIO_A&oe=65AA4B69" alt="Description of the image">
    <!-- Add other content as needed -->
</div>


</body>
</html>
